.source {
    margin: 2rem;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0 1px 1px 0, rgba(0, 0, 0, 0.12) 0 1px 3px 0;
    border-radius: 1rem;

    .sourceTitleAndDate {
        display: flex;
        justify-content: space-between;
        .sourceTitle {
            display: flex;
            align-items: center;
            color: rgb(69, 123, 157);
            margin-bottom: 1.75rem;

            .sourceTitleIconPhone {
                color: gray;
                width: 18px;
                margin-right: 0.7rem;
            }

            .sourceTitleIconStar {
                color: gray;
                width: 18px;
                margin-left: 0.7rem;
            }
        }
    }

    .sourceField {
        margin-bottom: 1.5rem;

        .number > p {
            display: inline;
            padding: 0 0.75rem;
            border: 1px solid rgba(128, 128, 128, 0.42);
            border-radius: 2rem;
            box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px,
            rgba(0, 0, 0, 0.14) 0 1px 1px 0,
            rgba(0, 0, 0, 0.12) 0 1px 3px 0;
        }
    }

    .cutouts {
        .cutoutsImage {
            display: flex;
            justify-content: center;
        }
    }
}
